@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@100;300;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: #4a69bd;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}


/* Navigation Styles */

.navbarz{
    position: fixed;
    width: 100%;
    z-index: 999;
    /* background: #1dd1a1; */
    font-family: 'Roboto', sans-serif;
    padding: 30px 0;
    transition: all 0.3s ease;
}

.navbarz.sticky{
    padding: 15px 0;
    background: #4a69bd;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}


.navbarz .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbarz .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 700;
}

.navbarz .navigation{
    margin: 10px 10%;
}

.navbarz .navigation li{
    list-style: none;
    display: inline-block;
}

.navbarz .navigation li a{
    text-decoration: none;
    color: rgb(200, 200, 200);
    font-size: 18px;
    font-weight: 700;
    margin-left: 30px;
    transition: color 0.3s ease-in;
}

.navbarz.sticky .navigation li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin-left: 30px;
    transition: color 0.3s ease-in;
}

.navbarz.sticky .navigation li a:hover{
    text-decoration: none;
    color: rgb(200, 200, 200);
    font-size: 18px;
    font-weight: 700;
    margin-left: 30px;
}


.navbarz .navigation li a:hover{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin-left: 30px;
    text-shadow: 0.1px 0.1px white;
}

/* MENU BUTTON STYLING */
.menu-btn{
    color:rgb(200, 200, 200);
    font-size: 30px;
    cursor: pointer;
    display: none;
}

/* HOME STYLING */

.home{
    display: flex;
    background: linear-gradient(45deg,#7dd0f6, #4a69bd);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    min-height: 500px;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

/* Change here for heading */
.home .max-width{
    margin: auto; 
}

.home .home-content .heading{
    font-size: 380%;
    font-weight: 700;
    margin: 10% 30% 0 30%;
}

.home .home-content .text-1{
    font-size: 200%;
    font-weight: 500;
    text-align: centre;
    margin: 20px 20px 0 20px;
    padding: 20px 20px;
}

.home .home-content .text-2{
    font-size: 150%;
    font-weight: 100;
    margin: 60px 37%;
}




/* About section */

section{
    padding: 100px 0;
}

.about{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(236, 236, 236);
}

.about .title{
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin: 30px;
    padding-bottom: 50px;
    text-align: center;
}

.about .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #2797b9;
    transform: translateX( -50%);
}

.about .about-content .left img{
    margin-top: 30px;
    height: 480px;
    width: 450px;
    object-fit: cover;
    border-radius: 10%;
}

.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .left{
    width: 45%;
}

.about .about-content .right{
    width: 45%;
}

.about .about-content .right p{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    line-height: 1.5;
}

.about .about-content .right ul{
    padding-top: 1em;
    padding-left: 2em;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 1.05em;
    line-height: 1.5;
}

.container .card-title{
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.container .card-title a:link{
    text-decoration: none;
    color: rgb(141, 141, 141);
}

container .card-title a:hover,:visited{
    text-decoration: none;
    text-align: center;
    color: rgb(141, 141, 141);
}

/* *************************************** */

.services, .teams{
    color:#fff;
    background: #111;
}
.services .title::before,
.teams .title::before{
    background: #fff;
}
/* .services .title::after,
.teams .title::after{
    background: #111;
    content: "what i provide";
} */
.services .serv-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services .serv-content .card:hover{
    background: #4a69bd;
}
.services .serv-content .card .box{
    transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card i{
    font-size: 50px;
    color: #4a69bd;
    transition: color 0.3s ease;
}
.services .serv-content .card:hover i{
    color: #fff;
}
.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}


/* *************************************** */

.teams .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover{
    background: #4a69bd;
}
.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover .box{
    transform: scale(1.05);
}
.teams .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.teams .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #4a69bd;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover img{
    border-color: #fff;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid rgb(49, 0, 128)!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: #4a69bd!important;
}


/* Responsive queries */

@media(max-width: 1285px){
    .max-width{
        padding: 0 50px;
    }

    .menu-btn{
        display: block;
        z-index: 999;
    }

    .menu-btn i.active::before{
        content: "\f00d";
    }

    .navbarz .navigation{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%; 
        top: 0;
        background: #2797b9;
        text-align: center;
        margin: 0 0;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbarz .navigation.active{
        left: 0;
    }

    .navbarz .navigation li{
        display: block;
    }

    .navbarz .navigation li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 18px;
    }

    .home .home-content .heading{
        font-size: 300%;
        font-weight: 700;
        margin: 10% 30% 0 30%;
    }
    
    .home .home-content .text-1{
        font-size: 150%;
        font-weight: 500;
        margin: 20px 20px 0 20px;
    }
    
    .home .home-content .text-2{
        font-size: 100%;
        font-weight: 100;
        margin: 60px 37%;
    }
}