@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@100;300;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: -20px;
    color: #171717;
    background: #171717;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: #171717;
    background: #171717;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}


/* Navigation Styles */

.navbarz{
    position: fixed;
    width: 100%;
    z-index: 999;
    /* background: #1dd1a1; */
    font-family: 'Roboto', sans-serif;
    padding: 30px 0;
    transition: all 0.3s ease;
}

.navbarz.sticky{
    padding: 15px 0;
    background: #171717;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}


.navbarz .max-width{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbarz .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 700;
}

.navbarz .navigation{
    margin: 10px 10%;
}

.navbarz .navigation li{
    list-style: none;
    display: inline-block;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.navbarz .navigation li a{
    text-decoration: none;
    color: rgb(185, 184, 184);
    font-size: 18px;
    font-weight: 700;
    transition: color 0.3s ease-in;
}

.navbarz.sticky .navigation li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    transition: color 0.3s ease-in;
}

.navbarz.sticky .navigation li a:hover{
    text-decoration: none;
    color: rgb(200, 200, 200);
    font-size: 18px;
    font-weight: 700;
}


.navbarz .navigation li a:hover{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-shadow: 0.1px 0.1px white;
}

/* MENU BUTTON STYLING */
.menu-btn{
    color:rgb(200, 200, 200);
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.navigation .menu-btn{
    display: inline-block;
}

/* HOME STYLING */

.home{
    display: flex;
    background: linear-gradient(45deg,#7dd0f6, #171717);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    min-height: 500px;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

/* Change here for heading */
.home .max-width{
    margin: auto; 
}

.home .home-content .heading{
    font-size: 380%;
    font-weight: 700;
    margin: 10% 30% 0 30%;
}

.home .home-content .text-1{
    font-size: 200%;
    font-weight: 500;
    text-align: centre;
    margin: 20px 20px 0 20px;
    padding: 20px 20px;
}

.home .home-content .text-2{
    font-size: 150%;
    font-weight: 100;
    margin: 60px 37%;
}

.box-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box-area li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate 12s linear infinite;
	bottom: -150px;
}
.box-area li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.box-area li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.box-area li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.box-area li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}
@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}




/* About section */

section{
    padding: 100px 0;
}

.about{
    font-family: 'Roboto', sans-serif;
}

.about .title{
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin: 30px;
    padding-bottom: 50px;
    text-align: center;
}

.about .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #171717;
    transform: translateX( -50%);
}

.about .about-content .left img{
    margin-top: 40px;
    height: 100%;
    width: 95%;
    object-fit: cover;
    border-radius: 50%;
}

.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .left{
    width: 45%;
}

.about .about-content .right{
    width: 45%;
}

.about .about-content .right p{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    line-height: 1.5;
}

.about .about-content .right ul{
    padding-top: 1em;
    padding-left: 2em;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 1.05em;
    line-height: 1.5;
}

.about .about-content .right ul li {
    margin-top: 5px;
}

.exp-container {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.exp-container h1{
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
}

.exp-container .card-title{
    font-family: 'Lato', sans-serif;
}

.exp-container .card-title a:link{
    text-decoration: none;
    color: rgb(141, 141, 141);
}

.exp-container .card-title a:hover,:visited{
    text-decoration: none;
    text-align: center;
    color: rgb(141, 141, 141);
}

.exp-container .card {
    margin-bottom: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    transition: all .2s ease-out;
}

.exp-container .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.card.exp {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.section-heading {
    margin-bottom: 3rem;
}

.card .section-subheading {
    font-size: .9rem;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
}

.exp-bullets li {
    list-style-type: none;
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
}

.exp-stack li {
    list-style-type: none;
}

.article-metadata {
    margin-bottom: 15px;
    overflow: hidden;
    font-size: 14px;
    letter-spacing: .03em;
    color: rgba(0,0,0,.54);
}

.course .card-subtitle a {
    border-bottom: solid 1px transparent;
}
.article-metadata a {
    color: rgba(0,0,0,.54);
    text-decoration: none;
}

.exp .card-text p {
    color: #000!important;
    /* font-size: .75em!important; */
}

.card .card-text {
    padding: 0.75rem 1rem;
}
.card-text:last-child {
    margin-bottom: 0;
}

.card-body {
    flex: auto;
    min-height: 1px;
    padding: 1.25rem;
}

.exp-container img{
    padding-right: 15px;
    padding-left: 15px;
    max-width: 100%;
}

@media (min-width: 992px){

    .navbarz .max-width{
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .col-lg-8 {
        flex: 0 0 66.66666667%;
        max-width: 66.66666667%;
    }
    .col-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    .col-xl, .col-xl-auto, .col-xl-12, .col-xl-11, .col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7, .col-xl-6, .col-xl-5, .col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-lg, .col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md, .col-md-auto, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-sm, .col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col, .col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
}
/* *************************************** */

.experience, .achievements{
    background-color: rgb(225, 223, 223);
}
.experience .title::before,
.achievements .title::before,
.container .title::before{
    background: #171717;
}

.max-width .title{
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
}



/* *************************************** */

.achievements .carousel .card{
    background: #ffffff;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
.achievements .carousel .card:hover{
}
.achievements .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.achievements .carousel .card:hover .box{
    transform: scale(1.05);
}
.achievements .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.achievements .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #171717;
    transition: all 0.3s ease;
}
.achievements .carousel .card:hover img{
    border-color: #fff;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0)!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: #171717!important;
}

.container .row{
    font-family: 'Lato', sans-serif;
    font-size: 1em;
}

.row{
    font-family: 'Lato', sans-serif;
    font-size: 1em;
}

.row .card-text{
    font-family: 'Lato', sans-serif;
    font-size: 1em;
}

footer{
    background-color: #171717;
    height: 200px;
}

footer .max-width{
    text-decoration: none;
    display: flex;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

footer .max-width .left{
    /* float: left; */
    /* width: 20%; */
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 3em;
    color: #fff;
    margin-top: 20px;
}

footer .max-width .right{
    /* float: rigßht; */
    /* width: 30%; */
    margin-top: 25px;
    font-size: 250%;
    margin-left: auto; 
    margin-right: 0;
    /* padding-left: 50%; */
}

footer .max-width .right .social-links a{
    padding-left: 15px;
    color: rgb(194, 194, 194);
}

footer .max-width .right .social-links a:hover{
    padding-left: 15px;
    color: #999;
}

footer .max-width p{
    text-align: center;
    margin: 20px auto 5px auto;
    color: #fff;
    font-size: 1em;
}

#projects {
    text-align: center;
}

.projects-row .card {
    position: relative;
	width: 100%;	
    border: 1px solid #111;
}

.projects-row .card:before {
	content: "";
	float: left;
	padding-top: 100%; 	
}

#csc413:before{
    background-image: url('csc413.png');
}

#csc207:before{
    background-image: url('conferencejava.png');
}

#sportsup:before{
    background-image: url('sportsup.png');
}

#footy:before{
    background-image: url('footy.png');
}

#moods:before{
    background-image: url('moods.png');
}

#outlook:before{
    background-image: url('outlook.png');
}

#assemblygame:before{
    background-image: url('assemblygame.png');
}

#nstcnn:before{
    background-image: url('nstcnn.png');
    padding: 50px;
}

#recamovie:before{
    background-image: url('recamovie.png');
    padding: 50px;
}

.projects-col {
    height: 400px;
    min-width: 350px;
    max-width: 400px;
    width: 100%;
    margin-top: 40px!important;
    padding-left: 15px!important;
    padding-right: 15px!important;
}

.project-card {
    overflow: hidden;
    height: 400px;
    width: 100%;
    text-align: center;
}

.project-body {
    position: relative;
    height: 100%;
    width: 100%;
    color: #fff;
    cursor: pointer;
}

.project-body:before {
    transition: all .3s;
    background-position: center;
    background-size: cover;
    z-index: -1;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.project-body:hover {
    transform: scale(1.05);
    transition: 0.4s;
}

.project-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.75);
}

.spacer {
    height: 40%;
}

.project-content {
    margin-right: 10%;
    margin-left: 10%;;
}

.project-blurb {
    margin-top: 30px;
}


#projects-show-more-btn{
    display: inline-block;
    width: 30%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

#projects-show-less-btn{
    display: none;
    width: 30%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

#projects-show-more {
    transition: height 10s!important;
    overflow: hidden;
    height: 0;
}

.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    display: none;
    width: 50%!important;
    background-color: #fefefe;
    margin: 10% auto; /* 10% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    min-width: 350px!important;
  }

  #modal-csc207{
    display: none;
  }

  #modal-csc413{
    display: none;
  }

  #modal-recamovie{
    display: none;
  }

  #modal-footy{
    display: none;
  }

  #modal-sportsup{
    display: none;
  }

  #modal-outlook{
    display: none;
  }

  #modal-nstcnn{
    display: none;
  }

  #modal-moods{
    display: none;
  }

  #modal-assemblygame{
    display: none;
  }

  .modal-footer {
    justify-content: center!important;
    padding-bottom: 0!important;
    border-top: 0!important;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-techstack {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    }
  

/* Responsive queries */

@media(max-width: 1190px){
    .navbarz .max-width{
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .max-width{
        padding: 0 30px;
    }

    ul {
        padding-left: 0!important;
    }

    .menu-btn{
        display: block;
        z-index: 999;
    }

    .menu-btn i.active::before{
        content: "\f00d";
    }

    .navbarz .navigation{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%; 
        top: 0;
        background: #171717;
        text-align: center;
        margin: 0 0;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbarz .navigation.active{
        left: 0;
    }

    .navbarz .navigation li{
        display: block;
    }

    .navbarz .navigation li a{
        display: inline-block;
        margin-top: 40px;
        font-size: 18px;
    }

    .home .home-content .heading{
        font-size: 300%;
        font-weight: 700;
        margin: 10% 30% 0 30%;
    }
    
    .home .home-content .text-1{
        font-size: 150%;
        font-weight: 500;
        margin: 20px 20px 0 20px;
    }
    
    .home .home-content .text-2{
        font-size: 100%;
        font-weight: 100;
        margin: 60px 37%;
    }
}

@media(max-width: 980px){
    .navbarz .max-width{
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .column_left img{
        margin: 10px;
        border-radius: 5px;
    }
    .about .about-content .right{
        flex: 100%;
    }

    #contact .max-width .left{
        display: none;
    }

    #contact .max-width .right{
        margin: auto auto;
    }

    #contact .max-width{
        margin: auto auto;
    }

    footer .max-width .right .social-links {
        padding-left: 0px;
        margin-left: 0px;
    }

}